{{!-- {{#if user}} --}}
<footer class="footer">
    <div class="w-100 clearfix">
        <span class="text-center text-sm-left d-md-inline-block"> Deposito de construção - Premol-Lirios</span>
        <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">Desenvolvido por <a href="#" class="text-dark"
                target="_blank">Levy Lennon</a></span>
    </div>
</footer>
{{!-- {{/if}} --}}