<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>{{title}}</title>
    {{#each style}}
    <link rel="stylesheet" href="/{{this}}">
    {{/each}}
</head>

<body>
    <div class="wrapper">
        {{>_nav}}
        <div class="page-wrap">
            {{>_sidebar}}
            <div class="main-content">
                {{{ body }}}
            </div>
            {{>_footer}}
        </div>
    </div>
    {{>_app}}

    {{#each js}}
    <script src="/{{this}}"></script>
    {{/each}}
</body>

</html>