

<div class="container-fluid">
    <!-- Cards  -->
    <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="widget bg-primary">
                <div class="widget-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="state">
                            <h6>Clientes</h6>
                            <h2></h2>
                        </div>
                        <div class="icon">
                            <i class="ik ik-users"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="widget bg-blue-sky">
                <div class="widget-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="state">
                            <h6>Produtos</h6>
                            <h2></h2>
                        </div>
                        <div class="icon">
                            <i class="ik ik-package"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="widget bg-yellow">
                <div class="widget-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="state">
                            <h6>Produção</h6>
                            <h2></h2>
                        </div>
                        <div class="icon">
                            <i class="ik ik-clipboard"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="widget bg-warning">
                <div class="widget-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="state">
                            <h6>Pendente</h6>
                            <h2></h2>
                        </div>
                        <div class="icon">
                            <i class="ik ik-truck"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Fim cards -->
   
    <div class='text-center'>
        <svg width="400pt" height="400pt" viewBox="0 0 591 591" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g id="#2e3191ff">
                <path fill="#2e3191" opacity="1.00"
                    d=" M 205.84 68.98 C 214.45 61.83 223.24 54.89 231.96 47.88 C 284.33 85.12 336.61 122.49 388.99 159.72 C 389.01 154.04 388.99 148.37 389.00 142.69 C 402.21 142.27 415.50 141.87 428.71 142.85 C 428.35 157.28 428.41 171.76 428.66 186.19 C 440.34 193.44 452.34 200.21 464.19 207.20 C 459.62 219.45 454.94 231.66 450.28 243.87 C 442.96 238.94 435.94 233.58 428.46 228.91 C 428.56 281.43 428.46 333.96 428.51 386.48 C 415.34 386.53 402.17 386.48 389.00 386.51 C 389.00 328.03 389.00 269.56 389.00 211.08 C 376.80 197.60 363.17 185.51 349.37 173.71 C 321.89 150.50 292.97 129.08 263.66 108.28 C 259.77 105.45 255.63 102.99 251.74 100.17 C 237.63 116.05 224.41 132.73 211.70 149.76 C 204.72 159.28 197.88 168.96 192.16 179.31 C 189.36 184.48 186.62 189.95 186.35 195.94 C 185.10 218.28 185.46 240.65 184.99 263.00 C 184.98 304.16 184.97 345.32 185.26 386.47 C 182.81 386.49 180.37 386.52 177.92 386.54 C 168.45 386.46 158.98 386.52 149.50 386.50 C 149.48 319.66 149.52 252.83 149.48 185.99 C 149.30 183.84 150.21 181.87 151.21 180.05 C 170.30 143.62 194.93 110.23 223.13 80.35 C 217.33 76.61 211.62 72.74 205.84 68.98 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 389.00 109.77 C 391.67 109.76 394.34 109.76 397.01 109.76 C 397.00 112.43 396.97 115.11 396.95 117.78 C 394.30 117.77 391.65 117.76 389.01 117.76 C 389.00 115.10 388.99 112.43 389.00 109.77 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 399.79 109.78 C 405.86 109.74 411.93 109.69 418.01 109.81 C 418.01 112.47 417.99 115.13 417.92 117.80 C 411.91 117.72 405.90 117.73 399.89 117.78 C 399.74 115.12 399.70 112.44 399.79 109.78 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 420.57 109.78 C 423.18 109.74 425.80 109.74 428.42 109.76 C 428.49 112.40 428.51 115.04 428.49 117.68 C 425.83 117.76 423.16 117.75 420.51 117.66 C 420.48 115.03 420.50 112.41 420.57 109.78 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 389.00 120.54 C 395.08 120.50 401.16 120.44 407.25 120.58 C 407.24 123.19 407.24 125.80 407.25 128.42 C 401.16 128.56 395.08 128.50 389.00 128.46 C 389.00 125.82 389.00 123.18 389.00 120.54 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 410.56 120.55 C 416.52 120.47 422.48 120.47 428.44 120.55 C 428.50 123.18 428.50 125.82 428.45 128.46 C 422.48 128.52 416.52 128.52 410.56 128.46 C 410.49 125.82 410.49 123.18 410.56 120.55 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 389.01 131.23 C 391.64 131.23 394.29 131.23 396.93 131.22 C 396.97 133.89 397.00 136.56 397.02 139.22 C 394.34 139.24 391.67 139.25 389.00 139.25 C 388.99 136.58 389.00 133.90 389.01 131.23 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 399.87 131.23 C 405.83 131.27 411.78 131.23 417.74 131.26 C 417.74 133.86 417.76 136.47 417.80 139.07 C 411.80 139.44 405.79 139.20 399.79 139.22 C 399.71 136.56 399.74 133.89 399.87 131.23 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 420.46 131.31 C 423.08 131.26 425.71 131.23 428.34 131.20 C 428.53 133.87 428.54 136.55 428.40 139.23 C 425.72 139.35 423.03 139.31 420.38 138.89 C 420.47 136.36 420.49 133.84 420.46 131.31 Z" />
                <path fill="#2e3191" opacity="1.00"
                    d=" M 137.20 527.72 C 137.67 526.12 138.22 524.54 138.81 522.98 C 138.70 523.59 138.47 524.81 138.36 525.42 C 139.08 525.17 140.52 524.66 141.24 524.40 C 140.83 524.96 140.41 525.52 139.98 526.08 L 139.35 526.85 C 138.92 527.85 138.50 528.87 138.08 529.89 C 138.24 529.27 138.55 528.03 138.70 527.41 L 137.20 527.72 Z" />
            </g>
            <g id="#fff100ff">
                <path fill="#fff100" opacity="1.00"
                    d=" M 211.70 149.76 C 224.41 132.73 237.63 116.05 251.74 100.17 C 255.63 102.99 259.77 105.45 263.66 108.28 C 292.97 129.08 321.89 150.50 349.37 173.71 C 363.17 185.51 376.80 197.60 389.00 211.08 C 389.00 269.56 389.00 328.03 389.00 386.51 C 363.35 386.49 337.72 386.93 312.07 386.75 C 271.73 386.29 231.38 386.60 191.03 386.49 C 186.66 386.41 182.28 387.04 177.92 386.54 C 180.37 386.52 182.81 386.49 185.26 386.47 C 184.97 345.32 184.98 304.16 184.99 263.00 C 185.46 240.65 185.10 218.28 186.35 195.94 C 186.62 189.95 189.36 184.48 192.16 179.31 C 197.88 168.96 204.72 159.28 211.70 149.76 M 209.98 216.58 C 210.02 235.72 209.99 254.85 210.00 273.98 C 230.93 273.96 251.87 274.11 272.80 273.91 C 272.72 254.84 272.71 235.77 272.81 216.70 C 251.88 216.30 230.92 216.53 209.98 216.58 M 296.43 245.31 C 296.65 292.37 296.28 339.44 296.62 386.49 C 318.15 386.44 339.69 386.61 361.23 386.40 C 361.20 339.34 361.43 292.28 361.11 245.22 C 339.55 245.33 317.99 245.15 296.43 245.31 Z" />
            </g>
            <g id="#00adeeff">
                <path fill="#00adee" opacity="1.00"
                    d=" M 389.00 106.51 C 402.14 106.48 415.28 106.51 428.43 106.49 C 429.06 118.38 428.46 130.30 428.73 142.20 C 415.49 142.12 402.24 142.32 389.00 142.17 C 389.00 141.44 389.00 139.98 389.00 139.25 C 391.67 139.25 394.34 139.24 397.02 139.22 C 397.00 136.56 396.97 133.89 396.93 131.22 C 394.29 131.23 391.64 131.23 389.01 131.23 C 389.00 130.54 389.00 129.15 389.00 128.46 C 395.08 128.50 401.16 128.56 407.25 128.42 C 407.24 125.80 407.24 123.19 407.25 120.58 C 401.16 120.44 395.08 120.50 389.00 120.54 C 389.00 119.84 389.00 118.46 389.01 117.76 C 391.65 117.76 394.30 117.77 396.95 117.78 C 396.97 115.11 397.00 112.43 397.01 109.76 C 394.34 109.76 391.67 109.76 389.00 109.77 C 389.00 108.95 389.00 107.32 389.00 106.51 M 399.79 109.78 C 399.70 112.44 399.74 115.12 399.89 117.78 C 405.90 117.73 411.91 117.72 417.92 117.80 C 417.99 115.13 418.01 112.47 418.01 109.81 C 411.93 109.69 405.86 109.74 399.79 109.78 M 420.57 109.78 C 420.50 112.41 420.48 115.03 420.51 117.66 C 423.16 117.75 425.83 117.76 428.49 117.68 C 428.51 115.04 428.49 112.40 428.42 109.76 C 425.80 109.74 423.18 109.74 420.57 109.78 M 410.56 120.55 C 410.49 123.18 410.49 125.82 410.56 128.46 C 416.52 128.52 422.48 128.52 428.45 128.46 C 428.50 125.82 428.50 123.18 428.44 120.55 C 422.48 120.47 416.52 120.47 410.56 120.55 M 399.87 131.23 C 399.74 133.89 399.71 136.56 399.79 139.22 C 405.79 139.20 411.80 139.44 417.80 139.07 C 417.76 136.47 417.74 133.86 417.74 131.26 C 411.78 131.23 405.83 131.27 399.87 131.23 M 420.46 131.31 C 420.49 133.84 420.47 136.36 420.38 138.89 C 423.03 139.31 425.72 139.35 428.40 139.23 C 428.54 136.55 428.53 133.87 428.34 131.20 C 425.71 131.23 423.08 131.26 420.46 131.31 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 365.00 430.00 C 368.75 430.00 372.51 430.00 376.26 430.00 C 376.31 449.33 376.19 468.65 376.32 487.98 C 375.95 490.48 378.67 490.87 380.42 491.49 C 381.18 494.01 381.41 496.66 381.75 499.26 C 377.54 499.98 372.61 500.70 369.00 497.89 C 365.43 495.08 365.08 490.13 365.00 485.95 C 365.00 467.30 365.00 448.65 365.00 430.00 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 393.37 430.40 C 397.72 428.60 403.50 432.18 402.69 437.12 C 402.19 443.09 393.15 444.68 390.08 439.84 C 387.67 436.60 389.54 431.50 393.37 430.40 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 453.29 430.42 C 457.63 428.57 463.48 432.12 462.69 437.08 C 462.22 443.09 453.12 444.69 450.06 439.82 C 447.70 436.59 449.52 431.57 453.29 430.42 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 433.11 452.04 C 436.30 450.46 439.94 451.01 443.30 451.67 C 442.84 454.96 442.10 458.21 441.46 461.47 C 438.78 461.14 435.95 460.52 433.35 461.52 C 429.52 462.99 426.70 466.46 425.38 470.25 C 425.09 479.82 425.37 489.42 425.26 499.00 C 421.50 499.00 417.75 499.00 414.00 499.00 C 413.99 483.34 414.00 467.67 414.00 452.01 C 417.04 452.00 420.09 451.87 423.13 452.11 C 423.72 454.93 423.71 457.84 424.10 460.69 C 426.58 457.34 429.08 453.66 433.11 452.04 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 489.54 451.68 C 498.30 449.58 508.26 453.11 513.24 460.73 C 519.29 470.00 518.96 483.30 511.97 491.98 C 505.08 500.53 491.65 502.39 482.53 496.39 C 472.01 489.79 469.54 474.91 474.39 464.06 C 477.13 457.84 482.90 453.12 489.54 451.68 M 491.43 460.53 C 485.89 462.42 483.73 468.74 483.47 474.08 C 483.25 479.45 484.28 485.69 488.86 489.12 C 493.51 492.69 501.03 490.89 503.67 485.68 C 506.71 479.92 506.76 472.71 504.37 466.72 C 502.54 461.68 496.51 458.71 491.43 460.53 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 528.77 455.83 C 533.25 451.41 540.13 450.37 546.13 451.34 C 550.49 451.94 554.31 454.23 558.02 456.45 C 556.49 458.84 554.74 461.09 552.97 463.30 C 548.72 460.46 543.26 458.11 538.20 460.24 C 535.21 461.44 534.35 465.95 537.23 467.79 C 543.23 471.73 551.39 472.02 556.29 477.73 C 561.36 483.66 558.89 493.59 552.17 497.18 C 542.83 502.46 531.03 499.79 522.72 493.72 C 524.14 491.08 526.01 488.74 527.89 486.42 C 532.77 490.25 539.59 493.23 545.70 490.58 C 548.86 489.20 549.64 484.47 546.63 482.49 C 540.74 478.32 532.59 477.94 527.67 472.26 C 523.50 467.65 524.50 460.01 528.77 455.83 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 390.00 452.00 C 393.75 452.00 397.50 452.00 401.26 452.00 C 401.27 467.67 401.27 483.33 401.26 499.00 C 397.50 499.00 393.75 499.00 390.00 499.00 C 390.00 483.33 390.00 467.67 390.00 452.00 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 450.00 452.00 C 453.75 452.00 457.50 452.00 461.26 452.00 C 461.27 467.67 461.27 483.33 461.26 499.00 C 457.51 499.00 453.75 499.00 450.00 499.00 C 450.00 483.33 450.00 467.67 450.00 452.00 Z" />
                <path fill="#00adee" opacity="1.00"
                    d=" M 330.00 470.74 C 337.67 470.73 345.33 470.73 353.00 470.74 C 353.00 473.49 353.00 476.24 353.00 479.00 C 345.33 479.00 337.67 479.00 330.00 479.00 C 330.00 476.24 330.00 473.49 330.00 470.74 Z" />
            </g>
            <g id="#f05a28ff">
                <path fill="#f05a28" opacity="1.00"
                    d=" M 209.98 216.58 C 230.92 216.53 251.88 216.30 272.81 216.70 C 272.71 235.77 272.72 254.84 272.80 273.91 C 251.87 274.11 230.93 273.96 210.00 273.98 C 209.99 254.85 210.02 235.72 209.98 216.58 Z" />
                <path fill="#f05a28" opacity="1.00"
                    d=" M 296.43 245.31 C 317.99 245.15 339.55 245.33 361.11 245.22 C 361.43 292.28 361.20 339.34 361.23 386.40 C 339.69 386.61 318.15 386.44 296.62 386.49 C 296.28 339.44 296.65 292.37 296.43 245.31 M 345.24 314.33 C 342.06 315.44 342.09 320.59 345.26 321.70 C 347.42 322.79 350.26 321.30 350.72 318.96 C 351.69 315.97 348.06 312.78 345.24 314.33 Z" />
                <path fill="#f05a28" opacity="1.00"
                    d=" M 308.00 430.00 C 311.75 430.00 315.51 430.00 319.26 430.00 C 319.31 449.34 319.18 468.67 319.32 488.01 C 319.00 490.53 321.63 491.03 323.52 491.37 C 324.01 494.01 324.46 496.66 324.70 499.34 C 320.34 499.96 315.10 500.76 311.55 497.49 C 308.11 494.34 308.06 489.28 307.98 484.97 C 308.02 466.65 307.98 448.32 308.00 430.00 Z" />
                <path fill="#f05a28" opacity="1.00"
                    d=" M 36.00 435.00 C 44.33 435.11 52.67 434.77 60.99 435.18 C 67.97 435.55 75.91 438.27 78.97 445.12 C 83.02 454.15 81.26 466.79 72.28 472.22 C 64.81 476.99 55.63 475.82 47.21 476.07 C 47.32 483.71 47.24 491.35 47.26 499.00 C 43.51 499.00 39.75 499.00 36.00 499.00 C 36.00 477.66 36.00 456.33 36.00 435.00 M 47.22 444.07 C 47.30 451.69 47.30 459.31 47.22 466.94 C 52.19 466.90 57.26 467.47 62.15 466.33 C 66.06 465.47 69.25 462.14 69.75 458.15 C 70.53 453.70 69.92 447.90 65.35 445.69 C 59.71 443.06 53.24 444.22 47.22 444.07 Z" />
                <path fill="#f05a28" opacity="1.00"
                    d=" M 109.07 452.07 C 112.28 450.43 115.95 451.01 119.32 451.69 C 118.82 454.98 118.09 458.22 117.46 461.49 C 114.79 461.13 111.98 460.53 109.37 461.51 C 105.53 462.98 102.71 466.45 101.37 470.26 C 101.09 479.83 101.36 489.42 101.26 499.00 C 97.51 499.00 93.75 499.00 90.00 499.00 C 90.00 483.34 90.00 467.67 90.00 452.01 C 93.02 452.00 96.04 451.87 99.05 452.10 C 99.86 454.89 99.63 457.88 100.10 460.74 C 102.54 457.36 105.05 453.69 109.07 452.07 Z" />
                <path fill="#f05a28" opacity="1.00"
                    d=" M 130.17 456.25 C 137.68 449.53 150.38 448.98 157.77 456.17 C 163.25 461.87 164.52 470.45 163.28 478.01 C 153.11 478.00 142.94 477.98 132.76 478.02 C 133.39 483.69 137.01 489.56 142.89 490.83 C 148.23 492.35 153.59 490.40 158.37 488.09 C 159.49 490.41 160.68 492.71 161.87 495.01 C 155.89 498.53 148.88 500.88 141.87 499.76 C 135.29 498.93 129.02 495.20 125.66 489.40 C 119.64 479.07 120.93 464.32 130.17 456.25 M 136.16 463.17 C 134.06 465.25 133.28 468.19 132.63 470.99 C 139.80 471.01 146.97 471.00 154.14 470.99 C 153.88 467.39 153.15 463.22 149.86 461.12 C 145.60 458.50 139.49 459.43 136.16 463.17 Z" />
                <path fill="#f05a28" opacity="1.00"
                    d=" M 184.05 458.77 C 188.60 454.36 194.42 450.17 201.14 451.20 C 206.16 451.37 210.48 454.80 212.39 459.36 C 216.17 455.71 220.39 451.86 225.83 451.18 C 230.13 450.70 234.94 451.79 237.96 455.07 C 241.45 459.17 242.24 464.79 242.28 469.99 C 242.26 479.66 242.27 489.33 242.26 499.00 C 238.51 499.00 234.75 499.00 231.00 499.00 C 230.97 489.33 231.04 479.66 230.98 469.99 C 230.94 466.47 230.06 461.70 226.01 460.80 C 221.26 459.39 217.22 463.19 214.04 466.17 C 213.95 477.11 214.03 488.05 214.00 499.00 C 210.24 499.00 206.49 499.00 202.74 499.00 C 202.70 489.01 202.79 479.02 202.71 469.03 C 202.58 465.80 201.50 461.69 197.90 460.84 C 192.93 459.30 188.54 463.04 185.26 466.28 C 185.27 477.19 185.26 488.09 185.26 499.00 C 181.51 499.00 177.75 499.00 174.00 499.00 C 174.00 483.33 174.00 467.67 174.00 452.01 C 177.12 451.95 180.25 451.94 183.37 452.21 C 183.56 454.40 183.79 456.58 184.05 458.77 Z" />
                <path fill="#f05a28" opacity="1.00"
                    d=" M 269.52 451.68 C 277.55 449.79 286.66 452.49 291.91 458.98 C 299.38 468.19 299.39 482.77 291.95 492.01 C 285.04 500.55 271.60 502.38 262.50 496.37 C 252.27 489.94 249.69 475.64 254.03 464.93 C 256.61 458.31 262.58 453.19 269.52 451.68 M 271.43 460.53 C 265.92 462.41 263.75 468.68 263.47 474.00 C 263.24 479.41 264.27 485.73 268.92 489.17 C 273.59 492.68 281.07 490.86 283.68 485.65 C 286.79 479.67 286.82 472.13 284.04 466.03 C 282.02 461.35 276.22 458.83 271.43 460.53 Z" />
            </g>
            <g id="#353131ff">
                <path fill="#353131" opacity="1.00"
                    d=" M 345.24 314.33 C 348.06 312.78 351.69 315.97 350.72 318.96 C 350.26 321.30 347.42 322.79 345.26 321.70 C 342.09 320.59 342.06 315.44 345.24 314.33 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 525.87 520.12 C 526.34 518.94 526.55 517.28 528.03 516.90 C 529.37 517.18 530.56 517.91 531.81 518.47 C 532.45 518.02 533.71 517.10 534.35 516.64 C 534.58 520.41 530.71 520.16 528.53 518.54 C 527.64 519.07 526.75 519.60 525.87 520.12 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 34.33 521.15 C 38.68 520.81 43.07 521.00 47.44 521.04 C 48.50 524.43 43.86 522.53 42.00 523.01 C 42.00 528.68 42.00 534.34 42.00 540.00 C 41.43 540.00 40.28 540.00 39.71 540.00 C 39.72 534.36 39.68 528.71 39.75 523.07 C 37.78 523.03 35.81 522.97 33.85 522.87 C 33.97 522.44 34.21 521.58 34.33 521.15 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 51.00 521.00 C 51.57 521.00 52.72 521.00 53.29 521.00 C 53.54 525.72 52.75 530.55 53.72 535.20 C 54.57 539.16 60.83 538.82 61.61 535.00 C 62.41 530.39 61.81 525.65 62.00 521.00 C 62.57 521.00 63.72 521.00 64.29 521.00 C 64.07 525.95 64.84 531.01 63.75 535.90 C 62.37 541.39 52.99 541.54 51.54 536.02 C 50.39 531.11 51.26 525.99 51.00 521.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 69.71 520.99 C 73.65 521.04 78.75 520.23 81.32 524.02 C 83.84 528.09 83.71 533.93 80.70 537.72 C 77.83 540.68 73.43 539.96 69.72 540.01 C 69.70 533.66 69.71 527.33 69.71 520.99 M 72.00 522.96 C 72.00 527.98 72.00 533.01 72.00 538.04 C 74.63 538.11 77.72 538.01 79.41 535.64 C 81.17 532.40 81.42 527.87 79.01 524.91 C 77.36 522.75 74.41 523.05 72.00 522.96 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 91.44 521.50 C 94.67 520.17 98.92 521.11 100.74 524.26 C 102.94 528.13 102.79 533.27 100.47 537.05 C 97.61 541.50 89.88 540.90 87.90 535.93 C 85.78 531.20 86.19 523.97 91.44 521.50 M 92.36 523.47 C 87.26 526.42 87.76 536.60 93.88 538.00 C 99.14 538.50 100.86 531.83 99.72 527.79 C 99.21 524.50 95.60 521.70 92.36 523.47 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 112.00 521.00 C 115.55 521.00 119.11 521.00 122.66 521.00 C 122.57 521.49 122.39 522.46 122.31 522.95 C 119.62 523.08 116.94 523.00 114.25 523.05 C 114.27 525.02 114.28 526.99 114.27 528.96 C 116.61 528.98 118.94 528.99 121.28 529.00 C 121.28 529.50 121.28 530.50 121.28 531.00 C 118.93 531.00 116.59 531.01 114.25 531.06 C 114.28 533.36 114.29 535.67 114.28 537.97 C 117.08 538.02 119.89 537.83 122.69 538.15 C 122.79 538.59 123.00 539.46 123.11 539.90 C 119.40 540.08 115.70 539.99 112.00 540.00 C 112.00 533.66 112.00 527.33 112.00 521.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 127.00 521.00 C 127.71 521.00 129.14 521.00 129.85 521.00 C 131.42 525.69 133.26 530.31 134.56 535.09 C 135.45 532.63 136.18 530.12 137.20 527.72 L 138.70 527.41 C 138.55 528.03 138.24 529.27 138.08 529.89 C 137.25 532.66 136.43 535.48 135.10 538.05 L 134.05 538.00 C 132.20 533.61 130.81 529.04 129.37 524.51 C 129.10 529.67 129.39 534.84 129.29 540.00 C 128.71 540.00 127.57 540.00 127.00 540.01 C 127.00 533.67 127.00 527.33 127.00 521.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 138.81 522.98 C 138.64 520.79 140.75 521.02 142.27 520.81 C 142.31 527.21 142.28 533.60 142.29 540.00 C 141.72 540.00 140.57 540.00 140.00 540.00 C 139.98 535.36 140.01 530.72 139.98 526.08 C 140.41 525.52 140.83 524.96 141.24 524.40 C 140.52 524.66 139.08 525.17 138.36 525.42 C 138.47 524.81 138.70 523.59 138.81 522.98 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 153.71 521.00 C 157.09 521.17 160.80 520.31 163.90 522.05 C 166.61 523.95 166.58 528.16 164.90 530.77 C 162.79 533.53 159.04 532.97 156.00 533.03 C 156.00 535.35 156.00 537.68 156.00 540.00 C 155.43 540.00 154.28 540.00 153.71 540.00 C 153.71 533.67 153.71 527.33 153.71 521.00 M 156.00 523.00 C 156.00 525.66 156.00 528.33 156.00 531.01 C 158.28 530.86 160.96 531.46 162.82 529.77 C 164.05 528.18 164.07 525.77 162.97 524.12 C 160.99 522.51 158.33 523.12 156.00 523.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 170.00 521.00 C 173.41 521.21 177.18 520.28 180.31 522.00 C 183.82 524.69 182.47 530.64 178.35 531.97 C 179.86 534.67 181.44 537.33 182.77 540.13 C 182.14 540.07 180.88 539.93 180.25 539.86 C 178.51 537.38 177.18 534.65 175.71 532.01 C 174.55 532.02 173.39 532.05 172.23 532.08 C 172.29 534.72 172.30 537.36 172.29 540.00 C 171.72 540.00 170.57 540.00 170.00 540.00 C 170.00 533.67 170.00 527.33 170.00 521.00 M 172.26 523.03 C 172.28 525.35 172.28 527.67 172.27 530.00 C 174.44 529.83 177.01 530.51 178.84 529.01 C 180.72 527.53 180.33 524.21 178.12 523.28 C 176.20 522.84 174.21 523.04 172.26 523.03 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 186.71 521.00 C 190.29 521.00 193.86 520.99 197.44 521.00 C 197.35 521.49 197.18 522.47 197.10 522.95 C 194.40 523.09 191.70 522.99 189.00 523.00 C 189.00 524.99 189.00 526.99 189.00 529.00 C 191.33 528.99 193.66 528.99 196.00 529.00 C 196.00 529.50 196.00 530.50 196.00 531.00 C 193.67 531.00 191.33 531.00 189.00 531.00 C 189.00 533.33 189.00 535.66 189.00 538.00 C 191.81 538.00 194.63 537.91 197.44 538.05 C 197.43 538.52 197.40 539.48 197.39 539.96 C 193.83 540.10 190.27 539.96 186.71 540.00 C 186.71 533.66 186.71 527.33 186.71 521.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 201.71 520.93 C 202.46 520.97 203.94 521.07 204.68 521.12 C 206.32 525.93 207.88 530.77 209.80 535.48 C 210.35 530.43 212.78 525.86 214.18 521.03 C 214.89 521.01 216.30 520.99 217.00 520.98 C 217.00 527.32 217.00 533.66 217.00 540.00 C 216.43 540.00 215.29 540.00 214.72 540.00 C 214.66 534.90 214.74 529.81 214.78 524.71 C 212.95 529.06 211.89 533.70 209.94 538.01 L 208.88 538.02 C 206.78 533.50 205.68 528.58 203.63 524.03 C 204.31 529.33 203.90 534.68 204.00 540.00 C 203.43 540.00 202.29 540.00 201.72 540.00 C 201.70 533.64 201.71 527.28 201.71 520.93 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 226.42 521.51 C 229.67 520.16 233.96 521.12 235.77 524.30 C 237.94 528.18 237.78 533.31 235.45 537.09 C 232.57 541.50 224.86 540.89 222.89 535.91 C 220.78 531.19 221.19 523.98 226.42 521.51 M 227.34 523.48 C 222.26 526.45 222.76 536.58 228.87 538.00 C 234.12 538.51 235.85 531.88 234.73 527.84 C 234.24 524.52 230.60 521.68 227.34 523.48 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 242.00 521.00 C 242.57 521.00 243.72 521.00 244.29 521.00 C 244.26 526.63 244.36 532.27 244.22 537.90 C 246.95 537.99 249.69 538.00 252.44 538.01 C 252.35 538.49 252.18 539.47 252.10 539.95 C 248.73 540.10 245.36 539.96 242.00 540.00 C 242.00 533.66 242.00 527.33 242.00 521.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 261.71 521.00 C 265.08 521.17 268.78 520.32 271.87 522.04 C 274.78 524.08 274.69 528.90 272.36 531.36 C 270.11 533.52 266.81 532.92 264.00 533.03 C 264.00 535.35 264.00 537.68 264.00 540.00 C 263.43 540.00 262.28 540.00 261.71 540.00 C 261.71 533.67 261.71 527.33 261.71 521.00 M 264.00 523.00 C 264.00 525.67 264.00 528.33 264.00 531.01 C 266.27 530.86 268.92 531.46 270.79 529.80 C 272.05 528.22 272.09 525.75 270.95 524.11 C 268.98 522.51 266.32 523.13 264.00 523.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 281.21 521.02 C 281.90 521.01 283.29 520.99 283.98 520.98 C 286.18 527.33 288.15 533.75 290.26 540.14 C 286.45 541.03 286.97 536.35 285.92 534.00 C 283.66 534.00 281.40 534.01 279.15 534.03 C 278.62 535.95 278.10 537.88 277.61 539.82 C 276.93 539.89 275.57 540.02 274.89 540.09 C 276.99 533.73 279.17 527.40 281.21 521.02 M 282.41 523.05 C 281.68 526.06 280.82 529.04 279.88 532.00 C 281.68 531.99 283.48 531.99 285.28 531.99 C 284.40 528.99 283.51 525.98 282.41 523.05 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 293.71 521.00 C 296.96 521.13 300.38 520.48 303.48 521.68 C 307.53 523.77 306.60 530.68 302.17 531.76 C 303.48 534.63 305.13 537.32 306.59 540.12 C 300.74 540.93 302.38 530.20 296.00 531.94 C 296.00 534.62 296.00 537.31 296.00 540.00 C 295.43 540.00 294.28 540.00 293.71 540.00 C 293.71 533.67 293.70 527.33 293.71 521.00 M 296.00 523.00 C 296.00 525.33 296.00 527.67 296.00 530.01 C 297.88 529.91 299.85 530.20 301.67 529.60 C 304.23 528.63 304.58 524.30 301.85 523.33 C 299.96 522.76 297.94 523.08 296.00 523.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 315.20 521.02 C 315.90 521.01 317.29 520.99 317.98 520.98 C 320.18 527.33 322.16 533.76 324.26 540.15 C 320.46 540.97 320.95 536.35 319.92 534.00 C 317.66 534.00 315.40 534.01 313.15 534.04 C 312.62 535.97 312.09 537.90 311.59 539.85 C 310.91 539.91 309.56 540.02 308.89 540.08 C 311.00 533.73 313.17 527.40 315.20 521.02 M 316.40 523.10 C 315.67 526.09 314.81 529.06 313.88 532.00 C 315.68 531.99 317.47 531.99 319.27 532.00 C 318.40 529.00 317.54 526.00 316.40 523.10 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 332.01 524.97 C 333.17 519.81 341.77 519.54 343.68 524.29 C 341.32 524.25 339.24 522.65 336.85 523.02 C 334.85 522.98 333.29 525.67 334.86 527.15 C 337.16 529.09 340.41 529.40 342.76 531.31 C 344.71 533.49 344.46 537.41 341.84 538.96 C 338.53 540.89 333.70 540.30 331.22 537.30 C 331.64 534.46 333.61 537.05 334.88 537.31 C 337.05 538.58 340.42 538.33 341.71 535.93 C 342.42 532.52 338.36 532.01 336.17 530.82 C 333.75 529.98 331.37 527.78 332.01 524.97 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 348.00 521.00 C 348.57 521.00 349.72 521.00 350.29 521.00 C 350.53 525.71 349.75 530.53 350.71 535.17 C 351.53 539.17 357.86 538.83 358.62 534.97 C 359.41 530.37 358.81 525.64 359.00 521.00 C 359.57 521.00 360.72 521.00 361.29 521.00 C 361.06 525.95 361.85 531.01 360.75 535.89 C 359.37 541.39 350.00 541.54 348.54 536.04 C 347.39 531.12 348.26 526.00 348.00 521.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 370.19 521.03 C 370.89 521.02 372.28 520.99 372.98 520.97 C 375.18 527.32 377.15 533.75 379.26 540.13 C 375.44 541.03 375.98 536.36 374.91 534.00 C 372.66 534.00 370.41 534.00 368.17 534.02 C 367.62 535.97 367.07 537.92 366.56 539.89 C 365.89 539.93 364.56 540.02 363.89 540.07 C 366.00 533.72 368.17 527.40 370.19 521.03 M 371.39 523.09 C 370.67 526.09 369.82 529.06 368.88 532.00 C 370.68 531.99 372.47 531.99 374.28 531.99 C 373.40 529.00 372.53 525.99 371.39 523.09 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 390.04 521.99 C 392.69 520.42 396.66 520.54 398.81 522.91 C 398.61 523.36 398.21 524.24 398.01 524.68 C 395.21 521.74 389.96 522.92 388.88 526.88 C 387.52 530.69 388.23 536.84 392.86 537.94 C 395.54 539.08 397.49 535.06 399.97 537.12 C 396.97 540.94 390.53 541.07 387.76 536.95 C 384.88 532.38 385.22 525.15 390.04 521.99 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 407.40 521.52 C 410.65 520.16 414.93 521.11 416.76 524.28 C 418.93 528.16 418.79 533.30 416.45 537.08 C 413.59 541.48 405.91 540.90 403.91 535.97 C 401.77 531.24 402.18 524.01 407.40 521.52 M 408.42 523.44 C 403.48 526.28 403.73 535.48 409.02 537.80 C 413.65 539.29 416.52 533.83 416.00 529.93 C 416.29 526.01 412.60 521.33 408.42 523.44 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 422.72 520.84 C 423.31 520.91 424.49 521.04 425.08 521.11 C 428.26 525.98 430.93 531.19 433.69 536.32 C 433.88 531.21 433.60 526.10 433.71 521.00 C 434.29 521.00 435.43 521.00 436.00 521.00 C 436.00 527.36 436.00 533.72 436.00 540.09 C 435.32 540.03 433.97 539.90 433.30 539.83 C 430.56 534.51 427.60 529.31 424.62 524.12 C 425.34 529.38 424.88 534.71 425.00 540.00 C 424.43 540.00 423.28 540.00 422.71 540.00 C 422.71 533.61 422.70 527.22 422.72 520.84 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 440.69 525.94 C 440.41 520.32 449.96 519.00 451.57 523.97 C 449.67 525.23 447.96 522.37 445.91 522.99 C 444.09 522.87 442.32 524.93 443.16 526.71 C 445.52 529.58 450.55 529.29 451.99 533.03 C 453.41 536.30 450.50 539.93 447.12 539.99 C 444.42 540.43 441.98 539.06 439.77 537.72 C 440.29 537.06 440.82 536.42 441.36 535.80 C 442.72 536.78 444.11 538.14 445.96 538.01 C 448.42 538.62 451.30 535.66 449.47 533.41 C 446.72 530.76 440.86 530.71 440.69 525.94 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 455.68 521.04 C 460.01 520.99 464.36 520.84 468.68 521.13 C 468.78 521.57 468.97 522.46 469.07 522.91 C 467.12 522.98 465.18 523.03 463.25 523.07 C 463.33 528.71 463.28 534.36 463.29 540.00 C 462.71 540.00 461.57 540.00 461.00 540.00 C 461.00 534.33 461.00 528.67 461.00 523.00 C 459.11 523.00 457.22 523.00 455.34 523.00 C 455.43 522.51 455.60 521.53 455.68 521.04 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 472.71 521.00 C 475.96 521.14 479.39 520.47 482.49 521.69 C 486.53 523.80 485.58 530.68 481.17 531.78 C 482.49 534.64 484.13 537.33 485.60 540.12 C 484.96 540.07 483.70 539.95 483.07 539.90 C 481.19 537.44 480.00 534.55 478.31 531.97 C 477.49 531.98 475.83 532.02 475.00 532.04 C 475.00 534.69 474.99 537.34 475.00 540.00 C 474.43 540.00 473.29 540.00 472.71 540.00 C 472.70 533.67 472.71 527.33 472.71 521.00 M 475.00 523.00 C 475.00 525.33 475.00 527.67 475.00 530.01 C 477.74 529.99 482.08 530.58 482.72 526.93 C 483.40 522.47 477.91 522.84 475.00 523.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 489.00 521.00 C 489.57 521.00 490.72 521.00 491.29 521.00 C 491.54 525.74 490.72 530.61 491.74 535.27 C 492.63 539.13 498.76 538.81 499.59 535.08 C 500.43 530.45 499.80 525.68 500.00 521.00 C 500.57 521.00 501.72 521.00 502.29 521.00 C 502.06 525.94 502.84 530.99 501.76 535.87 C 500.40 541.39 490.99 541.55 489.54 536.03 C 488.39 531.11 489.26 525.99 489.00 521.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 508.88 523.97 C 511.29 520.64 517.06 519.69 519.79 522.99 C 519.59 523.42 519.19 524.27 518.99 524.69 C 516.83 522.43 512.94 522.38 510.98 524.91 C 507.77 528.97 508.85 537.74 515.01 538.01 C 517.07 538.59 519.08 534.81 520.73 537.29 C 519.37 538.99 517.23 539.70 515.36 540.66 C 516.38 541.54 517.95 543.42 516.47 544.66 C 515.44 545.95 513.63 545.89 512.15 545.76 C 513.12 545.10 514.10 544.47 515.08 543.83 C 514.71 542.56 513.37 541.61 513.88 540.16 C 506.71 538.89 505.14 529.22 508.88 523.97 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 522.48 540.15 C 524.55 533.73 526.62 527.30 528.77 520.91 C 529.51 520.97 530.97 521.08 531.70 521.14 C 533.55 527.50 536.04 533.68 537.63 540.10 C 533.96 540.93 534.63 536.31 533.61 534.09 C 531.32 534.01 529.04 533.99 526.76 534.00 C 525.63 536.29 526.15 540.85 522.48 540.15 M 527.30 532.00 C 529.18 531.98 531.08 531.98 532.98 531.95 C 531.94 529.02 531.00 526.06 530.27 523.05 C 529.16 525.99 528.23 529.00 527.30 532.00 Z" />
                <path fill="#353131" opacity="1.00"
                    d=" M 545.99 521.05 C 550.42 520.00 554.74 523.57 555.07 527.99 C 556.11 532.86 553.93 539.82 548.08 540.04 C 537.91 540.84 536.56 522.94 545.99 521.05 M 545.41 523.44 C 540.48 526.28 540.73 535.49 546.02 537.80 C 550.64 539.29 553.49 533.88 553.00 529.98 C 553.32 526.05 549.62 521.32 545.41 523.44 Z" />
            </g>
        </svg>
    </div>

</div>