<div class="col-12">
    <div class="card social-card">
        <div class="card-body text-center">
            <h2 class="text-facebook mb-20"><i class="fas fa-boxes"></i></h2>
            <h3 class="text-facebook fw-700">Fornecedor</h3>
            <hr class="my-4 rgba-white-light">

            <div class="nav pt-2 justify-content-center">

                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="btn btn-outline-primary btn-lg mr-3" data-toggle='tab' href="#Add">Adicionar</a>
                    <a class="btn btn-outline-primary btn-lg" data-toggle='tab' href="#Find">Pesquisar</a>

                </nav>

            </div>
        </div>
    </div>

</div>

<div class="tab-content">
    <div class="tab-pane active" role='tabpanel' id='Add'>
        <div class="col-12">
            <div class="card">

                <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="pills-timeline-tab" data-toggle="pill" href="#Dados"
                            role="tab" aria-controls="pills-timeline" aria-selected="true">Dados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Address" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Endereço</a>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="Dados" role="tabpanel" aria-labelledby="pills-timeline-tab">
                        <div class="card-body">
                            <form class="form-horizontal" autocomplete="off">
                                <div class="row">

                                    <div class="class-form col-2">
                                        <label for="SelectTipo">Tipo de Pessoa</label>
                                        <select name="Tipo" class="form-control" id='SelectTipo'>
                                            <option value="PJ">Pessoa Jurídica</option>
                                            <option value="PF">Pessoa Física</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-5">
                                        <label for="InputRazaoSocial">Razão Social</label>
                                        <input type="text" class="form-control" id="InputRazaoSocial"
                                            name="RazaoSocial">
                                    </div>
                                    <div class="form-group col-5">
                                        <label for="InputNomeFantasia">Nome Fantasia</label>
                                        <input type="text" class="form-control" id="InputNomeFantasia"
                                            name="NomeFantasia">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label for="InputCNPJ">CNPJ</label>
                                        <div class="input-group input-group-button">
                                            <input type="text" class="form-control" id="InputCNPJ" name="CNPJ">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button"
                                                    id='ButtonCNPJ'>Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="InputInscEstadual">Inscrição Estadual</label>
                                        <input type="text" class="form-control" id="InputInscEstadual"
                                            name="InscEstadual">
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="InputInscMun">Inscrição Municipal</label>
                                        <input type="text" class="form-control" id="InputInscMun" name="InscMunicipal">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-3">
                                        <label for="InputCelular">(DDD) Celular</label>
                                        <input type="text" class="form-control" id="InputCelular" name="Celular">
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="InputCelularAlt">(DDD) Celular Alternativo</label>
                                        <input type="text" class="form-control" id="InputCelularAlt" name="CelularAlt">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="InputEmail">E-mail</label>
                                        <input type="email" class="form-control" id="InputEmail" name="Email">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade  active show" id="Address" role="tabpanel"
                        aria-labelledby="pills-profile-tab">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-3">
                                    <label for="InputCEP">CEP</label>
                                    <div class="input-group input-group-button">
                                        <input type="text" class="form-control" id='InputCEP' name='CEP'>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" id='ButtonCEP'>Buscar</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="class-form col-1">
                                    <label for="SelectEstado">Estados</label>
                                    <select name="Estado" class="form-control" id='SelectEstado'>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                        <option value="DF">Distrito Federal</option>
                                    </select>
                                </div>

                                <div class="class-form col-3">
                                    <label for="SelectCidade">Cidade</label>
                                    <select name="Cidade" class="form-control" id='SelectCidade'></select>
                                </div>

                                <div class="class-group col-5">
                                    <label for="InputLogradouro">Logradouro</label>
                                    <input type="text" class="form-control" id='InputLogradouro' name='Logradouro'>
                                </div>


                            </div>
                            <div class="row">
                                <div class="form-group col-1">
                                    <label for="InputNumero">Numero</label>
                                    <input type="text" class="form-control" id='InputNumero' name='Numero'>
                                </div>

                                <div class="form-group col-5">
                                    <label for='InputComplemento'>complemento</label>
                                    <input type="text" class="form-control" id='InputComplemento' name="Complemento">
                                </div>

                                <div class="form-group col-3">
                                    <label for="InputBairro">Bairro</label>
                                    <input type="text" class="form-control" id="InputBairro" name='Bairro'>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" role='tabpanel' id='Find'>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3>Pesquisar</h3>
                </div>
                <div class="card-body">
                    Informações
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Histórico Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col" style="width: 20%;">Quantidade</th>
                            <th scope="col" style="width: 20%;">Data</th>
                            <th scope="col" style="width: 20%;">Usuário</th>
                        </tr>
                    </thead>
                    <tbody id='history'>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>