<div class="col-12">
    <div class="card social-card">
        <div class="card-body text-center">
            <h2 class="text-facebook mb-20"><i class="fas fa-exchange-alt"></i></h2>
            <h3 class="text-facebook fw-700">Receita</h3>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3>Cadastro</h3>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="SelectProduct" class="col-sm-4 col-form-label">Cliente</label>
                <div class="col-sm-8">
                    <select class="form-control" id="SelectProduct">
                        <option selected="">Selecione...</option>
                        {{#each Data}}
                        <option value='{{_id}}'>{{Description}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div id='Buttons' class="nav pt-2 justify-content-center"></div>
        </div>
    </div>
    <div id='HeaderTable'></div>
</div>