<div class="text-center">
    <div class="login">
        <form action="/Login" method="POST" class="form-signin">
            <img class="mb-4" src="/Logo.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <label for="username" class="sr-only">Usuário</label>
            <input type="text" id="username" class="form-control" required="" autofocus="" name='Username' value='test'>
            <label for="passowrd" class="sr-only">Password</label>
            <input type="password" id="passowrd" class="form-control" required="" name='Password' value='test'>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-muted">© 2020</p>
        </form>
    </div>
</div>